<footer class="site-footer h-card" style="position: fixed;
bottom: 0px;
border-top: 1px solid antiquewhite;
background: white;
right: 0px;
text-align: end;
padding: 15px;
width: 100%;">
  <div style="padding: 5px;
  border: 7px solid aquamarine;
  display: inline-flex;
  border-radius: 150px;">
    <a href="https://calendly.com/kgraycar/30min" style="
    display: inline-flex;
    border-radius: 150px;
    height: 50px;
    width: 240px;
    align-items: center;
    font-size: 18px;
    text-align: center;
    color: black;
    padding-left: 20px;">Schedule Free Consultation</a>
  </div>
</footer>
