---
layout: default
---

<div class="home">
  <div style="padding: 25px;">
    {%- if page.image -%}
    <img src="{{ page.image }}" width="150" height="150" style="border-radius: 200px;
    border: 5px solid white;">
    {%- endif -%}
    {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}
    <p>Climate startup freelancing</p>
    <a href="https://www.linkedin.com/in/kgraycar/">LinkedIn</a>
    <br>
    <a href="https://www.instagram.com/k___G______/">Instagram</a>

    <hr>
    
    {{ content }}

</div>
