---
layout: default
---

<div class="home">
  <div style="padding: 25px;">
    {%- if page.profile-image -%}
    <img src="{{ page.profile-image }}" width="250" height="250" style="border-radius: 200px;
    border: 5px solid white;">
    {%- endif -%}
    {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
    <p><small>📍 Los Angeles, California</small></p>
    <p>Go-to-market launch specialist (marketing, product, software) experienced in climate and ed tech startups.</p>
    <p><small><a href="mailto:kgraycar@gmail.com" target="_blank">Email</a></small></p>
    <p><small><a href="https://www.linkedin.com/in/kgraycar/" target="_blank">LinkedIn</a></small></p>
    <p><small><a href="https://github.com/kylegraycar/" target="_blank">GitHub</a></small></p>
    <p><small><a href="https://calendly.com/kgraycar/30min" target="_blank">Let's chat!</a></small></p>
    {%- endif -%}

    <hr>
    
    {{ content }}

</div>
